<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <!-- <add key="soinuget" value="https://soichat.pkgs.visualstudio.com/_packaging/soinuget/nuget/v3/index.json" protocolVersion="3" /> -->
    <!-- <add key="nuget" value="https://api.nuget.org/v3/index.json" /> -->
    <add key="Nuget" value="https://api.nuget.org/v3/index.json" />
    <add key="Nuget Patch Feed" value="https://www.myget.org/F/npgsql/api/v3/index.json" />
    <add key="Microsoft Visual Studio Offline Packages" value="C:\Program Files (x86)\Microsoft SDKs\NuGetPackages\" />
  </packageSources>
</configuration>